---
# tasks file for xdevs_configuration
- name: configure ficheros
  lineinfile:
    path: "{{ gpt_path }}"
    insertafter: '^// ANSIBLE FICHEROS$'
    backup: no
    state: present
    line: |
            Ficheros {{ item }} = new Ficheros("{{ item }}", period, userDirectory + "/data/pruebas/");
            super.addComponent({{ item }});
  loop: "{{ ficheros|reverse|list }}"

- name: configure nodos virtuales
  lineinfile:
    path: "{{ gpt_path }}"
    insertafter: '^// ANSIBLE NVIRTUAL$'
    backup: no
    state: present
    line: |
            NodoVirtual {{ item }} = new NodoVirtual("{{ item }}", period);
            super.addComponent({{ item }});
  loop: "{{ nodo_virtual|reverse|list }}"

- name: configure fog servers
  lineinfile:
    path: "{{ gpt_path }}"
    insertafter: '^// ANSIBLE FOGSERVER$'
    backup: no
    state: present
    line: |
            FogServer {{ item }} = new FogServer("{{ item }}", period);
            super.addComponent({{ item }});
  loop: "{{ fog_server|reverse|list }}"

- name: configure data center
  lineinfile:
    path: "{{ gpt_path }}"
    insertafter: '^// ANSIBLE DATACENTER$'
    backup: no
    state: present
    line: |
            DataCenter {{ item }} = new DataCenter("{{ item }}", period);
            super.addComponent({{ item }});
  loop: "{{ data_center|reverse|list }}"

- name: configure conectores fogServer
  lineinfile:
    path: "{{ gpt_path }}"
    insertafter: '^// ANSIBLE CONECTOR$'
    backup: no
    state: present
    line: super.addCoupling({{ item.out }}.oOut, {{ item.in }}.iInDataCenter);
  loop: "{{ conectores|reverse|list }}"
  when: item.out_type == "fogServer"

- name: configure conectores NodoVirtual
  lineinfile:
    path: "{{ gpt_path }}"
    insertafter: '^// ANSIBLE CONECTOR$'
    backup: no
    state: present
    line: super.addCoupling({{ item.out }}.oOut, {{ item.in }}.iIn{{ item.out|title }});
  loop: "{{ conectores|reverse|list }}"
  when: item.out_type == "nodoVirtual"

- name: configure conectores ficheros
  lineinfile:
    path: "{{ gpt_path }}"
    insertafter: '^// ANSIBLE CONECTOR$'
    backup: no
    state: present
    line: super.addCoupling({{ item.out }}.oOut, {{ item.in }}.iInFichero);
  loop: "{{ conectores|reverse|list }}"
  when: item.out_type == "ficheros"

- name: configure fogserver.java Port initialize
  lineinfile:
    path: "{{ fog_server_path }}"
    insertafter: '^// ANSIBLE PORTINIT$'
    backup: no
    state: present
    line: |
            protected Port<Input> iIn{{ item.out|title }} = new Port<>("iIn{{ item.out|title }}");
            protected Input currentInput{{ item.out|title }} = null;
  loop: "{{ conectores|reverse|list }}"
  when: item.out_type == "nodoVirtual"
  
- name: configure fogserver.java constructor
  lineinfile:
    path: "{{ fog_server_path }}"
    insertafter: '^// ANSIBLE CONSTRUCTOR$'
    backup: no
    state: present
    line: super.addInPort(iIn{{ item.out|title }});
  loop: "{{ conectores|reverse|list }}"
  when: item.out_type == "nodoVirtual"

- name: configure fogserver.java deltext
  lineinfile:
    path: "{{ fog_server_path }}"
    insertafter: '^// ANSIBLE DELTEXT$'
    backup: no
    state: present
    line: |
            currentInput{{ item|title }} = iIn{{ item|title }}.getSingleValue();
            processInput(currentInput{{ item|title }});
  loop: "{{ deltext|reverse|list }}"
...